.addTask {
  text-align: center;
  padding: 12.5px;
  display: flex;
  color: #20cd8d;
  align-items: center;
  justify-content: center;
  background-color: #172627;
  cursor: pointer;
  margin-top: 30px;
}

h3 {
    margin: 0;
}

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-style {
  text-align: center;
  background-color: #172627;
  color: #fff;
  border: 1px solid #20cd8d;
  margin: 10px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 35px;
}

.insertTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskButton {
  background-color: #20cd8d;
  color: #fff;
  border: none;
  padding: 8px 15px;
  font-size: 15px;
  border-radius: 35px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
}

.insertTask {
  margin-top: 70px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  margin-bottom: 10px;
}

.taskTitle {
  color: #fff;
  font-size: 20px;
  margin-right: 20px;
}

.doneButton {
  background-color: #20cd8d;
  color: #fff;
  border: none;
  padding: 8px 10px;
  font-size: 15px;
  border-radius: 35px;
  cursor: pointer;
}