.input-style {
  text-align: center;
  background-color: #172627;
  color: #fff;
  border: 1px solid #20cd8d;
  margin: 10px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 35px;
  cursor: pointer;
}