.updateForm {
    height: 60vh;
    width: 25vw;
    margin: 50px auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 1px #20cd8d;
    border-radius: 10%;
}

hr {
    width: 100%;
    border: 1px solid #20cd8d;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.updateFocus, .updateBreak {
    text-align: center;
    background-color: #172627;
    color: #fff;
    border: 1px solid #20cd8d;
    margin: 10px;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 35px;
    cursor: pointer;
}

.update {
  background-color: #20cd8d;
  color: #fff;
  border: none;
  margin: 10px;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 35px;
  cursor: pointer;
}

.update:hover {
  box-shadow: 0px 0px 10px 0px #0f744f;
}